{% extends "base.html" %}
{% load static %}
{% block title %} Технологии {% endblock %}
{% block content %}
  {% comment %} Колонки с отступом сверху и снизу {% endcomment %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5><p>Технологии</p></h5>
          <img src="{% static '/img/python.png' %}" width="50" height="" alt="Python" title="Python">
          <img src="{% static '/img/django.png' %}" width="50" height="" alt="Django" title="Django">
        </li>
      </ul>
    </aside>
  </div>
{% endblock %}